
*{
    margin: 0px;
    padding: 0px;
}

#asidetag{
    float: left;
}
#asidetag ul{
    list-style-type: none;
    background-color: black;
    width: 200px;
    height: 100vh;
    overflow: hidden;
}

#asidetag ul li{
    padding: 25px 30px 25px 30px;
}

#asidetag ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;

}

#asidetag ul li img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#asidetag ul li:hover{
    scale: 1.1;
    background-color: rgb(203, 195, 195);
    transition: scale 0.5s;
    
  
}

#asidetag ul li:hover a{
    color: black;
}

#topnav{
    font-size: 48px;
    font-weight: 600;
   
}


