#product_form{
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
 
    width: 350px;
    box-shadow: 0px 0px 40px palevioletred;
    border-radius: 10px;
    margin-top: 10%;
    position: absolute;
    top: 5%;
    margin-left: 40%;
    margin-right: 40%;
    background-color: black;
    z-index: 10;
}

body{
    /* background-color: black; */
}


#product_form div input{
    width: 300px;
    margin: 20px;
    padding: 5px;
    border-radius: 2px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid palevioletred;
    color: palevioletred;
    background-color: black;
}


#product_form div button{
    width: 300px;
    margin: 30px 10px 10px 10px;
    padding: 10px;
    border-radius: 7px;
    font-size: 16px;
    border: 2px solid palevioletred;
    color: palevioletred;
    background-color: black;
}

#product_form div input::placeholder{
    color: palevioletred;
}

#product_form div input:focus{
    scale: 1.1;
    transition: scale .2s;
}

#forgot{
    justify-content: space-between;
    display: flex;
    padding:0px 30px 0px 30px;
    margin-top: -10px;
}

/* ==============show form css========= */

#product_form{
    display: none;
}
/* ===========table data product====== */

#showproductdata tr {
    height: 50px;
    overflow-y: scroll;
}

/* =================update button======== */

#updatebutton{
    display: none;
}